<!DOCTYPE html>
<html lang="en">
<%- include('../template/header.html'); %>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cave Cafe Set Address</title>
    </head>

    <body>
        <div class="container-fluid">
            <h1 style="text-align: center;">Set Your Address</h1>
            <div class="row col-md-4 offset-md-4">
                <form class="user" id="setAddressForm" style="width: 100%;">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="alias"
                            placeholder="What do you want to call this address as? ex: home, office">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control form-control-user" id="phoneNumber"
                            placeholder="Enter Your Phone Number...">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="addressLine"
                            placeholder="Enter Your Address...">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control form-control-user" id="postalCode"
                            placeholder="Postal Code">
                    </div>
                    <button class="btn btn-primary btn-user btn-block" id="updateButton">
                        Update Address
                    </button>
                </form>
                <a style="text-align: center; color: #593e2c;font-size: large;" href="account">Back to Account Page</a>
            </div>
        </div>
        <script src="js/app.js"></script>
        <script src="js/address.js"></script>
    </body>
    <%- include('../template/footer.html'); %>

</html>