<html>
  <title>Cave Cafe</title>
  <%- include('../template/header.html'); %>
  <link rel="stylesheet" href="css/style.css" />
  <body>
    <section class="container-fluid mainSection">
      <div class="row align-items-center">
        <div class="col-1 col-lg-2"></div>
        <div
          class="col-10 col-lg-8 justify-content-center content"
          style="text-align: center"
        >
          <h1 class="text-center">CAVE CAFE</h1>
          <h2 class="text-center">
            LOVE SEASON FINALLY ARRIVES! ENJOY YOUR SECOND BEVERAGE FOR 50%
            PRICE!
          </h2>
          <a href="menu" class="center btn btn-primary">Buy Now</a>
        </div>
        <div class="col-1 col-lg-2"></div>
      </div>
    </section>

    <section class="container-fluid mainSection">
      <div class="row align-items-center">
        <div class="col-lg-6 content">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 d-none d-lg-inline">
              <h1 class="text-center">
                "Good ideas start with brainstorming. Great ideas start with
                coffee"
              </h1>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-1 p-0 content">
          <img class="img-fluid" src="images/coffeeWhite.jpg" alt="" />
        </div>
      </div>
    </section>

    <section class="container-fluid mainSection">
      <div class="row align-items-center">
        <div class="col-lg-6 order-3 order-lg-2 p-0 content">
          <img class="img-fluid" src="images/shopWall.jpg" alt="" />
        </div>
        <div class="col-lg-6 order-2 order-lg-3c content">
          <div class="row justify-content-center">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 content">
              <h1 class="text-center">
                Successful man's hideout is a coffee shop
              </h1>
              <br />
            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <%- include('../template/footer.html'); %>
</html>
