<style>
  .links {
    color: white;
    font-size: large;
  }

  .links:hover {
    color: #c7976f;
  }
</style>

<body>

  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger intent="WELCOME" chat-title="Cofie" agent-id="22e01dba-3486-4a7d-9449-d6d809f9c15c" language-code="en">
  </df-messenger>


  <div class="footer-container">
    <div class="footer-heading footer-1 col-md-4">
      <h3>Cave Cafe</h3>
      <a class="links" href="/">Home</a><br>
      <a class="links" href="about">About Us</a>
    </div>

    <div class="footer-heading footer-2 col-md-4">
      <h3>Menu</h3>
      <a class="links" href="menu">All</a><br>
      <a class="links" href="menu">Drink</a><br>
      <a class="links" href="menu">Bean</a><br>
      <a class="links" href="menu">Merch</a>

    </div>

    <div class="footer-heading footer-3 col-md-4">
      <h3>Contact Us</h3>
      <a class="links" href="https://www.facebook.com/">Facebook</a><br>
      <a class="links" href="https://www.instagram.com/?hl=en">Instagram</a><br>
      <a class="links" href="https://twitter.com/?lang=en">Twitter</a>
    </div>
  </div>
</body>